{% extends "base.html" %} {% block content %} 
{# Booking confirmation page with redirecting to main page #}
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="alert alert-success text-center w-50 mt-5" role="alert">
    <h4 class="alert-heading">Successfully Booked!</h4>

    <div class="w-100 text-center mt-5">
      <button class="btn btn-info">
        <a href="{{ url_for('home') }}" class="text-decoration-none text-black"
          >BACK TO MAIN</a
        >
      </button>
    </div>
  </div>
</div>
{% endblock %}
