{% extends "base.html" %} {% block content %}

<div class="container w-50 shadow-lg mt-3 p-0 text-center rounded-top-3">
    <div class="bg-body-tertiary ">
        <h2 class="text-center w-100 p-3  border-2 border-bottom bg-body-secondary">
            Selwyn Campground
          </h2>
    </div>
  <form
    action="/booking/add"
    method="POST"
    class="d-flex flex-column align-items-center"
  >
    <div
      class="form-group  p-2 w-50 d-flex flex-column w-50 gap-3 align-items-center"
    >
      <label for="bookingdate">Start Date</label>
      <input
        type="text"
        enabled="false"
        name="bookingdate"
        value="{{bookingdate}}"
        class="form-control w-50"
        style="height: 40px"
        readonly
      />
      {#Using "readonly" to prevent the user from changing data from the previous page input.#}
    </div>

    <div
      class="form-group m-2 p-2 w-50 d-flex flex-column w-50 gap-3 align-items-center"
    >
      <label for="bookingdate">Booking Nights</label>
      <input
        type="hidden"
        name="bookingnights"
        value="{{bookingnights}}"
        class="form-control w-50"
        style="height: 40px"
        readonly
      />
      {# Using "readonly" to prevent the user from changing data from the previous page input. #}
    </div>

    <div
      class="form-group m-2 p-2 w-50 d-flex flex-column w-50 gap-3 align-items-center"
    >
      <input
        type="text"
        name="occupancy"
        value="{{occupancy}}"
        class="form-control w-50"
        style="height: 40px"
        readonly
      />
      {# Using "readonly" to prevent the user from changing data from the previous page input. #}
    </div>
    <div
      class="form-group m-2 p-2 w-50 d-flex flex-column w-50 gap-3 align-items-center"
    >
      <label for="customer">Customer Name </label>
      <select name="customer" class="form-control w-50" style="height: 40px">
        {% for customer in customer %}
        <option value="{{customer[0]}}">{{customer[1]}} {{customer[2]}}</option>
        {% endfor %} {# Using a for loop, display all customer names as options in a select dropdown.#}
      </select>
    </div>
    <div
      class="form-group m-2 p-2 w-50 d-flex flex-column w-50 align-items-center"
    >
      <label for="site">Site to select</label>
      <select
        name="site"
        class="form-control w-50"
        style="height: 40px"
        required
      >
        {% for site in sitelist %}
        <option value="{{site[0]}}">{{site[0]}} - {{site[1]}} occupancy</option>
        {% endfor %} 
        {# I decided to use the 'select' and 'option' elements fora better user interface instead of displaying the entire site list with radio buttons. #}
      </select>
    </div>

    <div class="btn btn-primary my-3">
      <button class="btn btn-primary" type="submit">Make a booking</button>
    </div>
  </form>
</div>
{% endblock %}
