{% extends "base.html" %}
{% block content %}


<form action="/customer/result" method="GET">
    <lable for="search">Search</label>
    <input type="text" name="search">
    <input type="submit">
    </form>
    
    <input><a href="{{ url_for('addCustomer') }}">ADD CUSTOMER</a></input> 
    

    <table>
        <tr>
          <th>Customer ID</th>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Edit</th>
      
          
        </tr>
        {% for data in customerlist %}
        <tr>
          <td>{{data[0]}}</td>
          <td>{{data[1]+" "+data[2]}}</td>
          <td>{{data[3]}}</td>
          <td>{{data[4]}}</td>  
          <td><a href="{{ url_for('updateCustomer', customer_id=data[0]) }}">Update</a></td>
         
        </tr>

        {%endfor%}
      </table>
    

      
{% endblock %}