{% extends "base.html" %} {% block content %}

<div class="p-1 w-full h-25  text-center my-3">



<div class="container mt-3 shadow-lg p-0 rounded">
  <div class="text-center p-2">
    <h2 class="m-3">Search Customer</h1>
      <form action="/customer/result" method="GET" class="w-full  d-flex justify-content-center align-items-center gap-2 needs-validation" novalidate>
        <div class="w-75 form-group position-relative">
          <div class="input-group">
              <input type="text" name="search" class="form-control" required />
              <button type="submit" class="btn btn-secondary rounded-end"><i class="bi bi-search"></i></button>
              <p class="invalid-feedback">
                Please Enter Customer Name.
            </p>
          </div>
      </div>
      </form>
  </div>
  <div class="text-end p-2">
  <button class="btn btn-primary">
    <a href="{{ url_for('addCustomer') }}" class="text-white text-decoration-none" 
    {#remove default a elements style for better design #}
      >ADD CUSTOMER</a>
  </button>
</div>


  <table class="table text-center table-hover ">
    <thead class="table-primary">
    <tr>
    <th>Customer ID</th>
    <th>Customer Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Action</th>
  </tr>
</thead>
{% if customer %}
{# If the customer exists in the database, display the customer information. #}
  {% for data in customer %}
  <tr>
    <td class="align-middle">{{data[0]}}</td>
    <td  class="align-middle">{{data[1]+" "+data[2]}}</td>
    <td  class="align-middle">{{data[3]}}</td>
    <td  class="align-middle">{{data[4]}}</td>
    <td  class="align-middle">
      <button class="btn btn-warning"><a class="text-decoration-none text-black" href="{{ url_for('updateCustomer', customer_id=data[0]) }}">Update</a></button>
    </td>
  </tr>

  {%endfor%}
  {# But if the customer does not exist, display "NOT FOUND" and redirect to the customer page. #}
{%else%}
 
  <tr>
    <td colspan="5" class="text-center"><h3>NOT FOUND.</h3><a href="{{url_for('customerList')}}" class="text-decoration-none text-white bg-primary p-1 rounded-3">Back to List</a></td>
  </tr>
 
  {% endif%}
</table>

{% endblock %}
