{% extends "base.html" %} {% block content %}

<div class="container w-100 p-0 mt-5 text-center">
  <div class="justify-content-center">
    <div class="container w-50 border rounded text-start">
      <div class="mb-5">
        <h2>Make a booking</h2>
        <h3>Choose the date you'd like the booking to start .</h3>
      </div>
      <form action="{{url_for('booking')}}" method="POST">
        <div class="my-5">
          <label for="bookingdate" class="form-label"
            >Choose start night of booking</label
          >
          <input
            type="date"
            min="{{currentdate}}"
            name="bookingdate"
            class="form-control"
          />
        </div>

        <div class="my-5">
          <label for="bookingnights" class="form-label">Number of nights</label>
          <input
            type="number"
            name="bookingnights"
            min="1"
            max="5"
            step="1"
            value="1"
            class="form-control"
          />
        </div>

        <div class="my-5">
          <label for="occupancy" class="form-label">Number of people</label>
          <input
            type="number"
            name="occupancy"
            min="1"
            max="8"
            step="1"
            value="1"
            class="form-control"
          />
        </div>
        <div class="my-5 text-center">
          <input type="submit" class="btn btn-primary btn-lg w-75" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
